<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-0">© 2025 
      <a 
        class="text-white ml-2" 
        type="button" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasScrolling" 
        aria-controls="offcanvasScrolling">
        About
      </a> |
      <a href="#" class="text-white ml-2">Contact</a> |
      <a href="#" class="text-white ml-2">Mention Legal</a> |
      <a href="#" class="text-white ml-2">Politique De Confidentialité</a>
    </p>
  </div>
</footer>
<div class="offcanvas offcanvas-start bg-dark text-light" 
  data-bs-scroll="true" 
  data-bs-backdrop="false" 
  tabindex="-1" 
  id="offcanvasScrolling" 
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <p class="ft-victoria fs-2 text-2 text-center" id="offcanvasScrollingLabel">About us :</p>
    <i class="bi bi-x-lg text-light ms-auto fs-2" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></i>
  </div>
  <div class="offcanvas-body ft-victoria">
    <p><strong class="text-2">Our mission: Make memorization easier for everyone</strong></p>
    <p>In 2020, educators and developers created our app to make memorization more accessible.</p>
    <p><strong class="text-2">The birth of the app</strong></p>
    <p>Claire, a teacher, and Lucas, a developer, designed an intuitive app based on proven educational techniques.</p>
    <p><strong class="text-2">Launch and success</strong></p>
    <p>Launched in 2021, the app quickly became popular among students, teachers, and professionals.</p>
    <p><strong class="text-2">Our vision</strong></p>
    <p>We continuously innovate to improve the app and meet our users' needs.</p>
    <p><strong class="text-2">Our team</strong></p>
    <p>Claire Martin - Co-founder and educational expert</p>
    <p>Lucas Dupont - Co-founder and lead developer</p>
    <p>Development Team - Passionate and innovative developers</p>
    <p>Support Team - Always ready to help and enhance your user experience</p>
    <p>We are excited to welcome you to our community and hope our app helps you achieve your learning goals.</p>
  </div>
  </div>
</div>
<script src="https://unpkg.com/scrollreveal"></script>