<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 py-2">
  <a class="navbar-brand m-0 p-0" href="/" >
    <img src="/img/logo.png" 
      width="35px" 
      height="35px" 
      class="ms-2 showleft"
    >
  </a> 
  <% if (lessons && lessons.length> 0) { %>
    <form id="lessonForm" action="/selectLesson" method="POST" class="ms-sm-2 ">
      <select 
        id="lessonSelect" 
        name="lesson" 
        class="form-select form-select-sm bg-dark text-2 text-capitalize showright"
      >
        <option hidden>Lessons</option>
        <% lessons.forEach(lesson=> { %>
        <option value="<%= lesson.lessonName %>" >
          <%= lesson.lessonName %> 
        </option>
        <% }) %>
      </select>
    </form>
  <% } %>
  <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div 
    id="navbarNav" 
    class="collapse navbar-collapse mx-2 mb-0" 
  >
    <% if (!user) { %>
      <ul class="ms-auto d-flex justify-content-end gap-2 p-0 m-0 mt-2 mt-sm-0">
        <a href="/register" class="btn bg-3 btn-sm text-decoration-none">
          <i class="bi bi-box-arrow-in-right"> Sign-up </i>
        </a>
        <a  href="/login" class="btn bg-3 btn-sm text-decoration-none">
          <i class="bi bi-box-arrow-in-right"> Login </i>
        </a>
        <% if (tips && tips === "d-none") { %>
          <form action="/tips" method="post">
            <input type="hidden" name="status" value=""/>
            <button type="submit" class="btn btn-sm bg-4 text-dark">
              Tips
            </button>
          </form>
        <% } %> 
      </ul>
    <% } else { %>
      <ul class="ms-auto d-flex justify-content-end p-0 m-0 mt-2 gap-2 mt-sm-0">
        <a href="/account" class="btn btn-sm bg-3 text-decoration-none">
          <i class="bi bi-person-circle"> Account </i>   
        </a>
        <a href="/logout" class="btn btn-sm bg-5 text-decoration-none">
          <i class="bi bi-box-arrow-left"> Logout </i>
        </a>
        <% if (tips && tips === "d-none") { %>
          <form action="/tips" method="post" class="">
            <input type="hidden" name="status" value=""/>
            <button type="submit" class="btn btn-sm bg-4 text-dark">
              Tips
            </button>
          </form>
        <% } %> 
      </ul>
    <% } %>
  </div>
</nav>

