<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <title>Alert message</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container">
      <div class="alert alert-success mt-3 text-center" role="alert">
        <%= message %>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
