<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/links') %>
      <title> Error Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container text-center">
      <h1 class="text-danger">Error</h1>
      <p class="fst-italic text-secondary"> 
        Error page, please try later !
      </p>
    </div>
    <%- include('./partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>
