<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/links') %>
    <title>Login</title>
</head>
  <body>
    <%- include('./partials/nav') %>
    <%- include('./partials/tips') %>
    <div class="container col-6">
      <h1 class="text-center ft-victoria text-darkgreyless py-3">Login !</h1>
      <form method="POST" action="/login">
        <div class="form-group showleft">
          <label for="email" class="fst-italic fw-bold text-secondary mb-1 showleft">Email Address :</label>
          <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group showleft mt-2">
          <label for="password" class="fst-italic fw-bold text-secondary mb-1 showleft">Password :</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn bg-3  mt-2 showbottom">Submit !</button>
        <a href="/passwordForgot" class="btn bg-5 mt-2 showbottom">Password forgot ?</a>
        <a href="/register" class="btn bg-5 mt-2 showbottom"> Sign-up !</a>
      </form>
    </div>
    <%- include('./partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>