<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/links') %>
    <title>Forgot password</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container">
      <h1 class="text-center ft-victoria text-darkgreyless pt-3">Forgot password</h1>
      <form action="/passwordforgot" method="POST">
        <label for="email" class="fst-italic mb-1 showleft">
          Email Address :
        </label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          class="form-control showleft"
          placeholder="whrite your email address"
          required
          >
        <button type="submit" class="btn bg-3 mt-2 showbottom">
          Send
        </button>
      </form>
    </div>
    <%- include('./partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>