<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/links') %>
    <title>Reset Password</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container">
      <h1 class="text-center ft-victoria text-darkgreyless pt-3">Reset password</h1>
      <form action="/passwordreset" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="password" class="fst-italic mb-1 showleft">
          New password :
        </label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          class="form-control showleft"
          required
        >
        <button type="submit" class="btn bg-3 mt-2 showbottom">
          Submit
        </button>
      </form>
    </div>
    <%- include('./partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>