.capitalize-once::first-letter {
  text-transform: uppercase;
}
.bg-darkgrey{background-color: #333839;}
.bg-1{background-color: #22577a;}
.bg-1:hover{background-color: #6c757d;color: white;}
.bg-2{background-color: #38a3a5;} 
  .bg-2:hover{background-color: #6c757d;color: white;}
.bg-3{background-color: #57cc99;} 
  .bg-3:hover{background-color: #6c757d;color: white;}
.bg-4{background-color: #80ed99;} 
  .bg-4:hover{background-color: #6c757d;;color: white;}
.bg-5{background-color: #c7f9cc;} 
  .bg-5:hover{background-color: #6c757d;color: white;}
.bg-6{background-color: #d8f8db;}
.bg-7{background-color: #c4e4e6;}
.bg-8{background-color: #dadada;}
.bg-err{background-color: #dc3545;}
  .bg-err:hover{background-color: #6c757d;color: white;}
.text-1{color: #22577a;}
.text-2{color: #38a3a5;}.text-2-disable{color: #3d8485;}
.text-3{color: #57cc99;}
.text-4{color: #80ed99;}
.text-5{color: #c7f9cc;}
.text-6{color: #d8f8db;;}
.text-7{color: #dadada;}

.hidden {
  display: none
}